{% extends "base.html" %}

{% block content %}
<h1 class="register"> Добавление товара</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.Count.label }}<br>
        {{ form.Count(class="form-control") }}<br>
        {% for error in form.Count.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

       <p>
        {{ form.Price.label }}<br>
        {{ form.Price(class="form-control") }}<br>
        {% for error in form.Price.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>
        {{ form.Manufacture.label }}<br>
        {{ form.Manufacture(class="form-control") }}<br>
        {% for error in form.Manufacture.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}